<section class="body-font py-10">
  <div class="container px-5 py-24 mx-auto">
    <h1
      class="text-4xl text-center uppercase text-[#2C3E50] font-bold title-font sm:mb-4"
    >
      conatct section
    </h1>
    <div class="flex justify-center items-center">
      <span
        class="inline-block h-1 w-20 rounded bg-[#2C3E50] mt-6 mb-4 me-4"
      ></span>
      <i class="fa-solid fa-star mt-1 text-[#2C3E50]"></i>
      <span
        class="inline-block h-1 w-20 rounded bg-[#2C3E50] mt-6 mb-4 ms-4"
      ></span>
    </div>
  </div>
  <form action="">
    <div class="flex flex-col mx-auto w-[50%] text-2xl font-semibold">
      <div class="relative mb-8">
        <label
          [class]="inputName ? 'bottom-12 opacity-100' : 'bottom-8 opacity-0'"
          for="name"
          class="absolute duration-300 leading-7 text-sm text-[#1ABC9C]"
          >userName:</label
        >
        <input
          [(ngModel)]="inputName"
          placeholder="userName"
          type="text"
          id="name"
          name="name"
          class="block my-4 pe-0 w-full text-sm text-gray-600 bg-transparent border-b-2 border-gray-300 appearance-none dark:border-gray-400 dark:focus:border-[#1ABC9C] focus:outline-none focus:ring-0 focus:border-[#1ABC9C] peer"
        />
      </div>
      <div class="relative mb-4">
        <label
          [class]="inputAge ? 'bottom-12 opacity-100' : 'bottom-8 opacity-0'"
          for="age"
          class="absolute duration-300 leading-7 text-sm text-[#1ABC9C]"
          >userAge:</label
        >
        <input
          [(ngModel)]="inputAge"
          placeholder="userAge"
          type="text"
          id="number"
          name="number"
          class="block my-4 pe-0 w-full text-sm text-gray-600 bg-transparent border-b-2 border-gray-300 appearance-none dark:border-gray-400 dark:focus:border-[#1ABC9C] focus:outline-none focus:ring-0 focus:border-[#1ABC9C] peer"
        />
      </div>
      <div class="relative mb-4">
        <label
          [class]="inputEmail ? 'bottom-12 opacity-100' : 'bottom-8 opacity-0'"
          for="email"
          class="absolute duration-300 leading-7 text-sm text-[#1ABC9C]"
          >userEmail:</label
        >
        <input
          [(ngModel)]="inputEmail"
          placeholder="userEmail"
          type="email"
          id="email"
          name="email"
          class="block my-4 pe-0 w-full text-sm text-gray-600 bg-transparent border-b-2 border-gray-300 appearance-none dark:border-gray-400 dark:focus:border-[#1ABC9C] focus:outline-none focus:ring-0 focus:border-[#1ABC9C] peer"
        />
      </div>
      <div class="relative mb-4">
        <label
          [class]="
            inputPassword ? 'bottom-12 opacity-100' : 'bottom-8 opacity-0'
          "
          for="email"
          class="absolute duration-300 leading-7 text-sm text-[#1ABC9C]"
          >userPassword:</label
        >
        <input
          [(ngModel)]="inputPassword"
          placeholder="userPassword"
          type="email"
          id="email"
          name="email"
          class="block my-4 pe-0 w-full text-sm text-gray-600 bg-transparent border-b-2 border-gray-300 appearance-none dark:border-gray-400 dark:focus:border-[#1ABC9C] focus:outline-none focus:ring-0 focus:border-[#1ABC9C] peer"
        />
      </div>
      <button
        class="text-white mt-8 bg-[#1ABC9C] py-2 px-6 focus:outline-none hover:bg-[#1ABC9C] rounded text-lg w-1/2 lg:w-1/3 md:w-1/2 sm:3/4"
      >
        send Message
      </button>
    </div>
  </form>
</section>
